<?xml version="1.0"?>
<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg name="limited" default="true"/>
  <arg name="controller" default="traj_pos"/> <!-- 'pos' or 'traj_pos' or 'vel' or 'traj_vel'-->
  <arg name="min_payload" default="0"/>
  <arg name="max_payload" default="10.0"/>
  <arg name="max_velocity" default="0.1"/>

  <!-- Load the hardware -->
  <include file="$(find ur_bringup)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="172.22.22.3"/>
    <arg name="limited" value="$(arg limited)"/>
    <arg name="min_payload" value="$(arg min_payload)"/>
    <arg name="max_payload" value="$(arg max_payload)"/>
    <arg name="max_velocity" value="$(arg max_velocity)"/>
  </include>

  <!-- Load moveit planner
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="limited" value="true"/>
  </include>  -->

  <!-- Run Rviz and load the default config to see the state of the move_group node
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include> -->

  <!-- Load the parameters for the algorithm -->
  <rosparam command="load" file="$(find ur_door_opening)/config/door_opening_params.yaml" />

</launch>
